---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Roadmap from '../components/Roadmap.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="DataPup - The database client that doesn't bite">
  <Header />
  <main>
    <Hero />
    <Features />
    <Roadmap />
  </main>
  <Footer />
</BaseLayout>
